<div class="game-select" align="center">
  <h3>Select your game options:</h3>
  <table class="game-select">
    <%= form_with url: 'game', method: :get do |form| %>
      <tr>
        <td class="game-select-left">
          <%= form.label :region, 'Region' %>
        </td>
        <td class="game-select">
          <%
            game_regions = CDSG.regions.map do |r|
              [r.split('_').map(&:capitalize).join(' '), r]
            end
          %>
          <%= form.select :region, game_regions, selected: 'united_states' %>
        </td>
      </tr>
      <tr>
        <td class="game-select-left">
          <%= form.label :capitals_mode, 'Capitals mode' %>
        </td>
        <td class="game-select">
          <%= form.check_box :capitals_mode %>
        </td>
      </tr>
      <tr>
        <td class="game-select-left">
          <%= form.label :hard_mode, 'Hard mode' %>
        </td>
        <td class="game-select">
          <%= form.check_box :hard_mode %>
          <%= form.label :hard_mode, '(includes dependent territories)' %>
        </td>
      </tr>
      <tr>
        <td class="game-select" colspan="2" align="center">
          <%= form.submit 'Play' %>
        </td>
      </tr>
    <% end %>
  </table>

  <% if params[:quit] %>
    <p>
      <img alt="Chandler wins" src="https://media.giphy.com/media/NowSZPc9wYxBqXuSky/giphy.gif" />
    </p>
  <% end %>

</div>
