<div class="form">
  <div class="container">
    <div class="row">
    <h5>Select your game options:</h5>
    <div class="row">
      <%= form_with url: 'game', method: :get do |form| %>
        <div class="input-field col s12">
          <div class="select-wrapper">
        <%
          game_regions = CDSG.regions.map do |r|
            [r.split('_').map(&:capitalize).join(' '), r]
          end
        %>
      <%= form.select :region, game_regions, selected: 'united_states' %>
          </div>
        <i class="material-icons">public</i><%= form.label :region, 'Region' %>
        </div>
    </div>
          <%= form.label :capitals_mode, 'Capitals mode' %>
          <%= form.check_box :capitals_mode %>
          <%= form.label :capitals_mode, '(where multiples, the official/administrative capital will be used)' %>
          <%= form.label :hard_mode, 'Hard mode' %>
          <%= form.check_box :hard_mode %>
          <%= form.label :hard_mode, '(includes dependent territories with capitals or ISO3166 recognition)' %>
          <%= form.submit 'Play' %>
        <% end %>
    </div>

  <% if params[:quit] %>
    <p>
      <img alt="Chandler wins" src="https://media.giphy.com/media/NowSZPc9wYxBqXuSky/giphy.gif" />
    </p>
  <% end %>

</div>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems, options);
  });
  </script>
