<footer class="page-footer">
  <div class="container">
    <div class="row center-align">
      <div class="col s12 m6 offset-m3">
        <div class="video-container">
          <iframe src="https://discord.com/widget?id=883385413832679424&theme=dark"
                  allowtransparency="true" frameborder="0" height="200"
                  sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">
          </iframe>
        </div>
      </div>
    </div>
    <div class="row center-align">
      <div class="col s1 offset-s2">
        <a href="https://github.com/EmpyDoodle" target="_blank">
          <%= image_tag 'github.png', alt: 'GitHub', size: '40x40', class: 'responsive-img' %>
        </a>
      </div>
      <div class="col s1">
        <a href="https://https://www.youtube.com/channel/UC1ybNCEAKdwQOHOMcPmUi9Q" target="_blank">
          <%= image_tag 'youtube.png', alt: 'YouTube', size: '40x40', class: 'responsive-img' %>
        </a>
      </div>
      <div class="col s1">
        <a href="https://empydoodle.blogspot.com" target="_blank">
          <%= image_tag 'blogger.png', alt: 'Blogger', size: '40x40', class: 'responsive-img' %>
        </a>
      </div>
      <div class="col s1">
        <a href="https://twitter.com/EmpyDoodle" target="_blank">
          <%= image_tag 'twitter.png', alt: 'Twitter', size: '40x40', class: 'responsive-img' %>
        </a>
      </div>
      <div class="col s1">
        <a href="https://www.reddit.com/user/empydoodle" target="_blank">
          <%= image_tag 'reddit.png', alt: 'Reddit', size: '40x40', class: 'responsive-img' %>
        </a>
      </div>
      <div class="col s1">
        <a href="https://www.linkedin.com/in/empydoodle/" target="_blank">
          <%= image_tag 'linkedin.png', alt: 'LinkedIn', size: '40x40', class: 'responsive-img' %>
        </a>
      </div>
      <div class="col s1">
        <a href="https://www.instagram.com/empydoodle/" target="_blank">
          <%= image_tag 'instagram.png', alt: 'Instagram', size: '40x40', class: 'responsive-img' %>
        </a>
      </div>
      <div class="col s1">
        <a href="https://www.facebook.com/empy.doodle" target="_blank">
          <%= image_tag 'facebook.png', alt: 'Facebook', size: '40x40', class: 'responsive-img' %>
        </a>
      </div>
      <div class="row center-align">
        <div class="col s12 m8 offset-m2">
          Icons (except GitHub) made by
          <a href="https://www.freepik.com" title="Freepik">Freepik</a>
          from
          <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Crafted with love by Joshua Empson
    </div>
  </div>
</footer>
