<!DOCTYPE html>
<html>
  <head>
    <title>ChandlersDumbStatesGameRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page" align="center">
      <h1>Chandler's Dumb States Game</h1>
      <%= yield %>
    </div>
    <div class="footer">
      <p>&nbsp;</p>
      <hr />
      <p align="center">Crafted with love by Joshua Empson</p>
      <p></p>
      <p align="center">
        <a href="https://github.com/EmpyDoodle" target="_blank"><%= image_tag 'github.png', alt: 'GitHub', size: '40x40' %></a>
        <a href="https://empydoodle.blogspot.com" target="_blank"><%= image_tag 'blogger.png', alt: 'Blogger', size: '40x40' %></a>
        <a href="https://twitter.com/EmpyDoodle" target="_blank"><%= image_tag 'twitter.png', alt: 'Twitter', size: '40x40' %></a>
        <a href="https://www.reddit.com/user/empydoodle" target="_blank"><%= image_tag 'reddit.png', alt: 'Reddit', size: '40x40' %></a>
        <a href="https://www.linkedin.com/in/empydoodle/" target="_blank"><%= image_tag 'linkedin.png', alt: 'LinkedIn', size: '40x40' %></a>
        <a href="https://www.instagram.com/empydoodle/" target="_blank"><%= image_tag 'instagram.png', alt: 'Instagram', size: '40x40' %></a>
        <a href="https://www.facebook.com/empy.doodle" target="_blank"><%= image_tag 'facebook.png', alt: 'Facebook', size: '40x40' %></a>
        <br />
        Icons (except GitHub) made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
      </p>
    </div>
  </body>
</html>
